*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

.mainBackgound{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;
    
}

.circle{
    background-color: #557B83;
    position: absolute;
    border-radius: 50%;
    transition: 1s;
}

.circle1{
    height: 70rem;
    width: 70rem;
    right: -30rem;
    bottom: -33rem;
    display: flex;
    z-index: 2;
    transition: .5s;
}

.circle2{
    height: 50rem;
    width: 50rem;
    top: -25rem;
    left: -25rem;
    display: flex;
    z-index: 2;
    transition: .5s;
   
}

.circle3{
    height: 60rem;
    width: 60rem;
    bottom: -30rem;
    right: -30rem;
    display: flex;
    z-index: 3;
    transition: .5s;
    
}


.subBackground{
    height: 90vh;
    width: 90%;
    background-color: #fff;
    position: relative;
    z-index: 2;
    overflow: hidden;
   
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4) ;
}


/*==============================*/
/*           Navbar             */

.navbar{
    width: 92%;
    height: 16%;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: .5rem;
}

.logo{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
}

.navlinks{
    flex: 1;
}

.navlinks ul{
    float: right;
}

.navlinks ul li{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 0 1.3rem;
    padding: .4rem;
    border-radius: 1.5rem;
}

.circle3img{
    height: 25rem;
    width: 25rem;
    background-color: #fff;
    position: absolute;
    top: 1.2rem;
    left: -4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circle3img img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}

.headtext{
    position: absolute;
    left: 3rem;
    bottom: 12rem;    
}

.headtext h1{
    font-size: 3.2rem;
    margin-bottom: .5rem;
}
.headtext span{
    color: #557B83;
}
.headtext p{
    margin: 1rem 0;
}

.headtext button{
    margin-top: 1.5rem;
    height: 2rem;
    width: 8rem;
    text-align: center;
    border-radius: .5rem;
    color: #fff;
    font-size: 1rem;
    padding: .3rem;
    border: none;
    background-color: #557B83;
}

.themeset{
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 15rem;
    gap: 1.5rem;
}


.themeset .theme{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #557B83;
}

.themeset .theme img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

#loginBtn{
    background-color: #557B83;
}


.next{
    height: 200vh;
    width: 100%;
}